<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898543943786-ef06ld3b4p2atd3ol9crqsjrglb1s5ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898543943786-ef06ld3b4p2atd3ol9crqsjrglb1s5ol</string>
	<key>API_KEY</key>
	<string>AIzaSyCyimRhSbDIVzS1_r-aSi6hJYDuRrhFHLE</string>
	<key>GCM_SENDER_ID</key>
	<string>898543943786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeynepuzunsoy.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-81448</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-81448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898543943786:ios:0243357f82707b011a0a13</string>
</dict>
</plist>